.container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    max-width: 75%;
    padding: 0px;
    margin: 0 auto;
}
.column-left{
    flex-basis: 30%;
    background-color: navy;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}
.column-right{
    flex-basis: 70%;
    background-color: white;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}
.column-left img {
    width: 100%; 
    border-radius: 50%; 
    margin-bottom: 20px; 
}
a{
    text-decoration: none;
    color: white;
}
.info a{
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 5px;
}
a:hover {
    text-decoration: underline;
    color: blue;
}
.column-right h3{
    color: navy;
}
.project h4{
    color: rgb(52, 51, 51);
}
hr {
    border: 1px solid #ddd; 
    margin: 10px 0;
}
.sign img{
    width: 150px;
}
.sign {
    text-align: right; 
    margin-top: 50px; 
}

.contact-item, .edu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
